<% include partials/header.ejs %>
<div class="container">
	<header class="jumbotron"><h3>Enter the details of the new car to be added</h3>
		<a class="btn btn-primary btn-large" href="/">Home</a>
	</header>


<form action="/" method="POST">
	<input type="number" name="vehicleId" placeholder="vehicleId"><br>
	<input type="text" name="vehicleModel" placeholder="vehicle Model"><br>
	<input type="text" name="vehicleNo" placeholder="vehicle Number"><br>
	<input type="number" name="seatCap" placeholder="seating Capacity"><br>
	<input type="number" name="rent" placeholder="Rent per Day"><br>
	<button>Submit!</button>
</form>

		
	
			
</div>
	
<% include partials/footer.ejs %>