<% include partials/header.ejs %>
<div class="container">
	<header class="jumbotron"><h3>Rent Cars from us</h3>
		<p>Welcome to the Rent a Car</p>
	<a class="btn btn-primary btn-large" href="/addingCar">add a new car</a><br>
		<a class="btn btn-primary btn-large" href="/cars">List of Cars</a><br>
		<a class="btn btn-primary btn-large" href="/addingCust">New customer</a><br>
		<a class="btn btn-primary btn-large" href="/booking">Rent Car</a><br>
	</header>
</div>
<% include partials/footer.ejs %>