<% include partials/header.ejs %>
<div class="container">
	<header class="jumbotron"><h3>Matches found are listed below</h3>
		<p>Welcome to the Rent a Car</p>
		<a class="btn btn-primary btn-large" href="/">Home</a>
	</header>
</div>

<% cars.forEach(function(car){ %>
	<li>
		<%=  vehicleId=car.vehicleId %>
		<%     %>
		<%   %>

		<br><br><br>
	</li>
<% });%>




<% include partials/footer.ejs %>